@import "tailwindcss";

/* * {
  font-family: Outfit;
} */
:root {
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}
.font-outfit {
  font-family: var(--font-outfit);
}
.font-ovo {
  font-family: var(--font-ovo);
}

/* body {
  font-family: var(--font-outfit);
} */

/* .font-outfit {
  font-family: var(--font-outfit);
}

.font-ovo {
  font-family: var(--font-ovo);
} */

/* .bg-dark-hover {
  background-color: var(--color-dark-hover);
}

.bg-dark-theme {
  background-color: var(--color-dark-theme);
} */
