@import "tailwindcss";

/* * {
  font-family: Outfit;
} */
:root {
  --color-light-hover: #f0f0f0;
  --color-dark-hover: #1a1a1a;
  --color-dark-theme: #0d0d0d;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}

/* body {
  font-family: var(--font-outfit);
} */
/* 
.font-outfit {
  font-family: var(--font-outfit);
}

.font-ovo {
  font-family: var(--font-ovo);
}

.text-light-hover {
  color: var(--color-light-hover);
}

.bg-dark-hover {
  background-color: var(--color-dark-hover);
}

.bg-dark-theme {
  background-color: var(--color-dark-theme);
} */
